.grid{
        width: 200px;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        border-style: solid;
        margin-top: 10px;
}

.grid div{
        width: 20px;
        height: 20px;
}

.snake{
        background-color: blue;
}

.apple{
        background-color: blueviolet;
}

.start{
        padding: 10px;
        border-radius: 4px;
        margin: 2%;
        cursor: pointer;
}